body {
    background: radial-gradient(#5a59b7, #c8a9fa);
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    padding-top: 80px;
    /* Compensar el navbar fijo */
}

/*NAVBAR*/
.navbar {
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar .nav-link,
.navbar .navbar-brand {
    color: #fff !important;
}

.navbar.scrolled {
    background-color: #ae8ff4 !important;
}

.navbar.scrolled .nav-link,
.navbar.scrolled .navbar-brand {
    color: #fff !important;
}



/*BOTONES NAVBAR*/
.btn-inicio {
    color: #ffffff;
    background-color: #DBECF4;
    border: 1px solid #DBECF4;
    background: transparent;
}

.btn-inicio:hover {
    color: #000000;
    background-color: #cfe4ee;
    border-color: #cfe4ee;
}

.btn-registro {
    color: #ffffff;
    background-color: #DBECF4;
    border: 1px solid #DBECF4;
    background: transparent;
}

.btn-registro:hover {
    color: #000000;
    background-color: #cfe4ee;
    border-color: #cfe4ee;
}

main.container h2 {
    font-weight: bold;
    margin-bottom: 30px;
}

main.container h5 {
    margin-top: 20px;
    font-weight: 600;
}

form .form-control {
    border-radius: 8px;
}

form .btn-primary {
    background-color: #033f63;
    border: none;
    border-radius: 8px;
}

form .btn-primary:hover {
    background-color: #022e4e;
}

footer {
    background-color: #f8f9fa;
    padding: 20px;
    margin-top: 60px;
    border-top: 1px solid #ddd;
    color: #333;
    font-size: 14px;
}