/* GENERAL */
body {
  background: radial-gradient(#5a59b7, #c8a9fa);
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  padding-top: 80px; /* Compensar el navbar fijo */
}

/* FUENTES */
@font-face {
  font-family: 'Mevara';
  src: url('./fonts/MevaraTrial-Regular.otf') format('opentype');
}


h1 {
  letter-spacing: 0.2rem;
  font-weight: bold;
  padding: 1rem;
  font-family: 'Mevara', sans-serif;
}

h2{
  padding: 1.5rem;
  color: #ff0000;
}

h3{
  padding: 1.5rem;
  color: #3a0ca3;
  letter-spacing: 0.1rem;
}

section {
  padding-top: 2rem;
}

/* NAVBAR */
.navbar {
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar .nav-link,
.navbar .navbar-brand {
  color: #fff !important;
}

.navbar.scrolled {
  background-color: #ae8ff4 !important;
}

.navbar.scrolled .nav-link,
.navbar.scrolled .navbar-brand {
  color: #fff !important;
}
.logo-avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}
/*BOTONES NAVBAR*/
.btn-inicio {
  color: #ffffff;
  background-color: #DBECF4;
  border: 1px solid #DBECF4;
  background: transparent;
}

.btn-inicio:hover {
  color: #000000;
  background-color: #cfe4ee;
  border-color: #cfe4ee;
}

.btn-registro {
  color: #ffffff;
  background-color: #DBECF4;
  border: 1px solid #DBECF4;
  background: transparent;
}

.btn-registro:hover {
  color: #000000;
  background-color: #cfe4ee;
  border-color: #cfe4ee;
}

/* INICIO - Sección principal */
.inicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 90vh;
  text-align: center;
}

.inicio > div {
  display: flex;
  gap: 5rem;
  justify-content: center;
  margin-top: 1rem;
  flex-wrap: wrap;
}

/* BOTONES PERSONALIZADOS */
button {
  --color: #57d1e9ef;
  font-family: inherit;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color 0.5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color);
}

.boton2:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

.boton2:hover {
  color: #000000;
}

.boton2:hover:before {
  top: -30px;
  left: -30px;
}

.boton2:active:before {
  background: #3a0ca3;
  transition: background 0s;
}


/* SECCIÓN: Cursos Tech Work (misión, visión, valores) */
.tc {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  padding: 0.5rem;
}

.glass-effect {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  color: white;
}

.glass-effect .bi {
  font-size: 2.5rem;
}

/* CURSOS DESTACADOS */
.parallax-container{
background-image: url(../img/WhatsApp\ Image\ 2025-05-27\ at\ 09.45.32\ \(2\).jpeg);
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
/*Tamaño del contenedor*/
height: 100vh;
width: 100%;
/*Para asegurarse de que el contenido*/
display: flex;
align-items: center;
justify-content: center;
color: #fff;
text-align: center;
position: relative;
z-index: 1;
}
.tarjetas {
  width: 18rem;
  text-align: center;
}



footer {
    background-color: #f8f9fa;
    padding: 20px;
    margin-top: 60px;
    border-top: 1px solid #ddd;
    color: #333;
    font-size: 14px;
}