/* CURSOS DESTACADOS */

.curso-card {
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.curso-card:hover {
    transform: scale(1.02);
}

.curso-card .card-header {
    background: linear-gradient(90deg, #033f63, #03658c);
    padding: 15px;
    color: white;
}

.curso-card .card-header h5 {
    margin-bottom: 5px;
    font-weight: bold;
}

.btn-inscribirse {
    background-color: #033f63;
    color: white;
    border: none;
    border-radius: 0 0 12px 12px;
    padding: 10px 0;
}

.btn-inscribirse:hover {
    background-color: #022e4e;
}